<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />

    <title>unoh.github.com by unoh</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>unoh.github.com</h1>
        <h2>{{ page.title }}</h2>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
{{ content }}
      </section>
    </div>

    <footer>
      <div class="container">
        <ul>
          <li><a href="/">Top</a></li>
        </ul>
      </div>
    </footer>

  </body>
</html>
